<a href="https://colab.research.google.com/github/KJR020/Nishika_tutorial/blob/main/Nishika_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ライブラリのインポート

In [9]:
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

ファイルの読み込み

In [10]:
files = glob.glob("/content/drive/MyDrive/train/*.csv")

In [ ]:
pd.read_csv(files[0])

In [ ]:
files

In [15]:
data_list = []
for file in files:
    data_list.append(pd.read_csv(file,index_col=0))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
data_list

In [71]:
df = pd.concat(data_list)

In [17]:
df.shape

(568575, 27)

In [ ]:
df.info()

In [72]:
nonnull_list = []
for col in df.columns:
    nonnull = df[col].count()
    if nonnull == 0:
       nonnull_list.append(col)
nonnull_list
df = df.drop(nonnull_list,axis=1)

In [ ]:
df.info() #Check the contents of the data frame

In [ ]:
df["市区町村名"].value_counts() #Checking the number of "市区町村名"

In [74]:
 df = df.drop("市区町村名",axis=1)

In [ ]:
df.describe() #Checking statistics. Limited to int or float.

In [ ]:
df.astype("str").describe()

In [75]:
df = df.drop("種類",axis=1)

In [ ]:
pd.set_option("display.max_rows", 500)
df["最寄駅：距離（分）"].value_counts()

In [77]:
df_temp = df["最寄駅：距離（分）"].replace("1H?1H30",75)

In [78]:
df_temp.value_counts() #1H?1H30の変換をする

6          44308
4          42303
5          39250
8          38880
3          36999
9          33688
30分?60分    31529
10         28017
7          27736
11         27408
2          22923
13         20947
14         17209
15         17148
1          16991
16         13338
12         13274
18         10944
19          9979
20          8517
21          6874
23          6423
25          5995
24          4710
28          4012
26          3881
75          3593
29          3491
0           3080
17          2233
22          1006
2H?          819
1H30?2H      685
27           391
Name: 最寄駅：距離（分）, dtype: int64

In [79]:
columns_list = df.columns
columns_list

Index(['市区町村コード', '都道府県名', '地区名', '最寄駅：名称', '最寄駅：距離（分）', '間取り', '面積（㎡）', '建築年',
       '建物の構造', '用途', '今後の利用目的', '都市計画', '建ぺい率（％）', '容積率（％）', '取引時点', '改装',
       '取引の事情等', '取引価格（総額）_log'],
      dtype='object')

In [ ]:
#'price', 'review.point'列に数値型に変換できない要素があれば 'False' を返す．
df[columns_list].apply(lambda s:pd.to_numeric(s, errors='coerce')).notnull().all()

In [81]:
# 数値ではない型の要素の抽出
pic = df[['最寄駅：距離（分）']][df['最寄駅：距離（分）'].apply(lambda s:pd.to_numeric(s, errors='coerce')).isnull()]

In [63]:
pic.apply(lambda s:s.unique())

  最寄駅：距離（分）
0   30分?60分
1       NaN
2   1H30?2H
3   1H?1H30
4       2H?

In [82]:
dis = {
    "30分?60分":45,
    "1H30?2H":105,
    "1H?1H30":75,
    "2H?":120
}

In [ ]:
df['最寄駅：距離（分）'] = df['最寄駅：距離（分）'].replace(dis).astype(float)

In [ ]:
df['面積（㎡）'].value_counts()

In [ ]:
df = df[]