<a href="https://colab.research.google.com/github/KJR020/Nishika_tutorial/blob/main/Nishika_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ライブラリのインポート

In [107]:
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

ファイルの読み込み

In [108]:
files = glob.glob("/content/drive/MyDrive/train/*.csv")

In [ ]:
pd.read_csv(files[0])

In [ ]:
files

In [ ]:
data_list = []
for file in files:
    data_list.append(pd.read_csv(file,index_col=0))

In [ ]:
data_list

In [111]:
df = pd.concat(data_list)

In [17]:
df.shape

(568575, 27)

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 568575 entries, 2017618 to 13045673
Data columns (total 27 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   種類            568575 non-null  object
 1   地域            0 non-null       float64
 2   市区町村コード       568575 non-null  int64
 3   都道府県名         568575 non-null  object
 4   市区町村名         568575 non-null  object
 5   地区名           568327 non-null  object
 6   最寄駅：名称        566057 non-null  object
 7   最寄駅：距離（分）     548581 non-null  object
 8   間取り           549100 non-null  object
 9   面積（㎡）         568574 non-null  object
 10  土地の形状         0 non-null       float64
 11  間口            0 non-null       float64
 12  延床面積（㎡）       0 non-null       float64
 13  建築年           551949 non-null  object
 14  建物の構造         555325 non-null  object
 15  用途            526879 non-null  object
 16  今後の利用目的       244592 non-null  object
 17  前面道路：方位       0 non-null       float64
 18  前面道路：種類       0 non-null       float64
 19  前面道路：幅員（ｍ）    0 non-null       float64
 20  都市計画          551081 non-null  object
 21  建ぺい率（％）       547403 non-null  float64
 22  容積率（％）        547403 non-null  float64
 23  取引時点          568574 non-null  object
 24  改装            518243 non-null  object
 25  取引の事情等        16918 non-null   object
 26  取引価格（総額）_log  568574 non-null  float64
dtypes: float64(10), int64(1), object(16)
memory usage: 121.5+ MB

In [113]:
nonnull_list = []
for col in df.columns:
    nonnull = df[col].count()
    if nonnull == 0:
       nonnull_list.append(col)
nonnull_list
df = df.drop(nonnull_list,axis=1)

In [114]:
df.info() #Check the contents of the data frame

<class 'pandas.core.frame.DataFrame'>
Int64Index: 568575 entries, 2017618 to 13045673
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   種類            568575 non-null  object
 1   市区町村コード       568575 non-null  int64
 2   都道府県名         568575 non-null  object
 3   市区町村名         568575 non-null  object
 4   地区名           568327 non-null  object
 5   最寄駅：名称        566057 non-null  object
 6   最寄駅：距離（分）     548581 non-null  object
 7   間取り           549100 non-null  object
 8   面積（㎡）         568574 non-null  object
 9   建築年           551949 non-null  object
 10  建物の構造         555325 non-null  object
 11  用途            526879 non-null  object
 12  今後の利用目的       244592 non-null  object
 13  都市計画          551081 non-null  object
 14  建ぺい率（％）       547403 non-null  float64
 15  容積率（％）        547403 non-null  float64
 16  取引時点          568574 non-null  object
 17  改装            518243 non-null  object
 18  取引の事情等        16918 non-null   object
 19  取引価格（総額）_log  568574 non-null  float64
dtypes: float64(3), int64(1), object(16)
memory usage: 91.1+ MB

In [115]:
df["市区町村名"].value_counts() #Checking the number of "市区町村名"

大田区       7819
江東区       7301
世田谷区      6940
港区        6749
福岡市中央区    6507
          ...
田川郡糸田町       1
粕屋郡宇美町       1
淡路市          1
粕屋郡新宮町       1
堺市美原区        1
Name: 市区町村名, Length: 618, dtype: int64

In [116]:
 df = df.drop("市区町村名",axis=1)

In [117]:
df.describe() #Checking statistics. Limited to int or float.

             市区町村コード        建ぺい率（％）         容積率（％）   取引価格（総額）_log
count  568575.000000  547403.000000  547403.000000  568574.000000
mean    19165.719636      67.441117     295.152913       7.196370
std      9964.985533      10.368833     146.020932       0.353505
min      1101.000000      30.000000      50.000000       2.653213
25%     13106.000000      60.000000     200.000000       6.991226
50%     14118.000000      60.000000     200.000000       7.255273
75%     27127.000000      80.000000     400.000000       7.431364
max     47213.000000      80.000000    1300.000000       9.934498

In [118]:
df.astype("str").describe()

              種類 市区町村コード   都道府県名  ...      改装  取引の事情等       取引価格（総額）_log
count     568575  568575  568575  ...  568575  568575             568575
unique         1     618      47  ...       3      10                374
top     中古マンション等   13111     東京都  ...     未改装     nan  7.113943352306838
freq      568575    7819  121748  ...  373188  551657              19377

[4 rows x 19 columns]

In [119]:
df = df.drop("種類",axis=1)

In [120]:
pd.set_option("display.max_rows", 500)
df["最寄駅：距離（分）"].value_counts()

6          44308
4          42303
5          39250
8          38880
3          36999
9          33688
30分?60分    31529
10         28017
7          27736
11         27408
2          22923
13         20947
14         17209
15         17148
1          16991
16         13338
12         13274
18         10944
19          9979
20          8517
21          6874
23          6423
25          5995
24          4710
28          4012
26          3881
1H?1H30     3593
29          3491
0           3080
17          2233
22          1006
2H?          819
1H30?2H      685
27           391
Name: 最寄駅：距離（分）, dtype: int64

In [121]:
df_temp = df["最寄駅：距離（分）"].replace("1H?1H30",75)

In [122]:
df_temp.value_counts() #1H?1H30の変換をする

6          44308
4          42303
5          39250
8          38880
3          36999
9          33688
30分?60分    31529
10         28017
7          27736
11         27408
2          22923
13         20947
14         17209
15         17148
1          16991
16         13338
12         13274
18         10944
19          9979
20          8517
21          6874
23          6423
25          5995
24          4710
28          4012
26          3881
75          3593
29          3491
0           3080
17          2233
22          1006
2H?          819
1H30?2H      685
27           391
Name: 最寄駅：距離（分）, dtype: int64

In [123]:
columns_list = df.columns
columns_list

Index(['市区町村コード', '都道府県名', '地区名', '最寄駅：名称', '最寄駅：距離（分）', '間取り', '面積（㎡）', '建築年',
       '建物の構造', '用途', '今後の利用目的', '都市計画', '建ぺい率（％）', '容積率（％）', '取引時点', '改装',
       '取引の事情等', '取引価格（総額）_log'],
      dtype='object')

In [124]:
#'price', 'review.point'列に数値型に変換できない要素があれば 'False' を返す．
df[columns_list].apply(lambda s:pd.to_numeric(s, errors='coerce')).notnull().all()

市区町村コード          True
都道府県名           False
地区名             False
最寄駅：名称          False
最寄駅：距離（分）       False
間取り             False
面積（㎡）           False
建築年             False
建物の構造           False
用途              False
今後の利用目的         False
都市計画            False
建ぺい率（％）         False
容積率（％）          False
取引時点            False
改装              False
取引の事情等          False
取引価格（総額）_log    False
dtype: bool

In [125]:
# 数値ではない型の要素の抽出
pic = df[['最寄駅：距離（分）']][df['最寄駅：距離（分）'].apply(lambda s:pd.to_numeric(s, errors='coerce')).isnull()]

In [126]:
pic.apply(lambda s:s.unique())

  最寄駅：距離（分）
0   30分?60分
1       NaN
2   1H30?2H
3   1H?1H30
4       2H?

In [127]:
dis = {
    "30分?60分":45,
    "1H30?2H":105,
    "1H?1H30":75,
    "2H?":120
}

In [128]:
df['最寄駅：距離（分）'] = df['最寄駅：距離（分）'].replace(dis).astype(float)

In [ ]:
df['最寄駅：距離（分）']

In [130]:
df['面積（㎡）'].value_counts()

70         64856
65         59473
60         46394
75         44156
55         33550
80         30329
20         29622
50         23172
15         19937
85         18295
45         14686
25         13947
70         13142
65         13113
90         11665
60         11289
20         11258
75          9282
40          9140
95          8465
55          8035
30          7526
80          7090
35          6995
15          5740
25          5654
50          5448
85          4530
100         4108
45          3147
90          2889
40          2785
30          2548
105         2322
35          2174
95          1887
110         1441
115         1037
100          925
10           713
120          694
105          581
125          465
110          394
130          350
10           310
115          308
135          249
120          193
145          186
140          175
125          162
130          141
155          118
150          117
135           98
140           73
145           72
160           68
165           64
180           61
170           54
190           48
150           44
185           41
230           39
160           38
175           36
155           36
210           30
200           30
195           28
180           27
170           27
220           25
250           17
260           16
240           16
185           16
190           15
165           14
270           13
175           12
210           12
290           11
330            9
310            8
340            8
390            8
200            8
195            8
370            7
2000㎡以上        7
1000           6
460            6
320            6
220            6
280            6
360            5
440            5
350            5
290            5
320            5
480            5
380            4
500            4
300            4
450            4
250            4
760            4
310            4
680            4
470            3
230            3
270            3
630            3
860            3
300            3
360            3
730            3
710            3
410            3
700            3
650            3
490            3
260            3
400            2
390            2
970            2
1100           2
620            2
590            2
670            2
520            2
650            2
590            2
450            2
510            2
470            2
600            2
580            2
340            2
240            2
690            2
660            2
430            2
420            2
410            2
520            2
1500           1
780            1
830            1
730            1
440            1
710            1
560            1
820            1
330            1
370            1
900            1
280            1
760            1
480            1
740            1
1300           1
990            1
490            1
610            1
570            1
550            1
540            1
530            1
510            1
400            1
720.0          1
740            1
770            1
780            1
790            1
820.0          1
830            1
900            1
940            1
960            1
630            1
1400           1
500            1
980            1
350            1
660            1
800            1
Name: 面積（㎡）, dtype: int64

In [131]:
df = df['面積（㎡）'].replace("2000㎡以上",2000).astype(float)

In [132]:
df

ID
2017618     50.0
2026039     55.0
2017284     75.0
2010748     20.0
2023661     65.0
            ...
13279662    25.0
13010516    45.0
13217307    50.0
13104097    45.0
13045673     NaN
Name: 面積（㎡）, Length: 568575, dtype: float64